body{
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455
}

/* reset */
a{
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
button{
    cursor: pointer;
}
/* region header */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.nav-header {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-cointeiner {
display: flex;
align-items: center;
}

.logo {
font-family:"Raleway", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}

.logo-style {
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}


.nav-list-header{
display: flex;
align-items: center;
gap: 40px;
}

.nav-header-item {
}

.portfolio-nav-link{}

.item-nav-link {
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42 ;
display: block;
}

.item-nav-link:hover,
.item-nav-link:focus
{
color: #404BBF;
}

.header-address{
    font-style: normal;
    margin-left: auto;
}

.contacts-info-header {
display: flex;
align-items: center;
gap: 40px;
}

.email-link {font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.contacts-info{}

.contacts-info-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
display: block;
padding: 24px 0;
}

.email-link:hover,
.email-link:focus
{
color: #404BBF;
}
.contacts-info-link:hover,
.contacts-info-link:focus
{
color: #404BBF;
}
 /* end region header */

 /* region hero */
.hero {
background: #2e2f42;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 292px;
}
.hero-titel {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
background: #2e2f42;
margin-bottom: 48px;
width: 496px;
height: 120px;
}

.conteiner-button{
display: flex;
align-items: center;
justify-content: center;
}

.hero-button {
font-family:inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
width: 169px;
height: 56px;
border-radius: 4px;
cursor: pointer;
}
.hero-button:hover,
.hero-button:focus
{
color: #404BBF;
background-color: #404BBF
}
/*  end region hero */

/* region section */
.section-1 {
background-color: #fff;
}

.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.conteiner-section-1{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-list-1 {
display: flex;
gap: 24px;
}

.section-list-item-1 {
width: calc(( 100% - 24px * 3 ) / 4);
}

.section-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.section-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-top: 8px;
}
/* end region section */

/* region section photo */

.section-photo {
background: #f4f4fd;
}

.conteiner-section-ph{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}
.section-ph-title {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-top: 120px;
padding-bottom: 72px;
}

.section-ph-list {
display: flex;
gap: 24px;
width: calc((100% -24 * 3) / 4);
}

.section-ph-item {
border-radius: 0 0 4px 4px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
background-color: #FFFFFF;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}


.section-ph-item-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 32px;
padding-bottom: 8px;

}

.section-item-role {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-bottom: 32px;
}
/* end region section photo */

/* region portfolio */

.portfolio {
}

    .container-portfolio{
    max-width: 1158px;
    margin: 0 auto;
    align-items: center;
    justify-content: center; */
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 72px;
}

.portfolio-list {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content:center;

}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
    flex-wrap: wrap;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-item-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 16px;
    padding-bottom: 32px;
}

/* end region portfolio */

/* region footer */
.footer {
    background: #2e2f42;
}

.conteiner-footer{
width: 1440px;
height: 312px;

}
.container-logo-style{
    width: 264px;
    height: 72px;
    padding-top: 140px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-style-light {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    
    
}

.footer-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* end region footer */